extends layout

block content
    h1.centered= title
    br
    .row-centered.row
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h2.player1 Player 1
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h2.challenge Challenges
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h2.player2 Player 2
    - for (var i = 1; i < 4; i++){
        .col-xs-4.col-centered
            .player1.challengeBox
                .item
                    div(id='player1-box'+i)
                        span.writing.player1(id='player1-w'+i contenteditable='true')
        .col-xs-4.col-centered
            .challenge.challengeBox
                .item
                    div(id='challenge-'+i)
        .col-xs-4.col-centered
            .player2.challengeBox
                .item
                    div(id='player2-box'+i)
                        span.writing.player2(id='player2-w'+i contenteditable='true')
    - }