extends layout

block scripts
    script( src ='https://cdn.socket.io/socket.io-1.4.5.js')
    script( src ='/javascripts/websockets.js')

block content
    div.hidden#loadScreen
        div
            h2 Please Wait...
            h3 Matching you with an opponent...
    div.hidden#gameOverScreen
        div
            h2 Game Over!
            br
            h4 Player 1:
            h4 Player 2:
            h3 Winner:
    h1.centered= title
    h1
        span(id='timer')
    h1(id = "color") test
    h1(id = "time-out") Time In
    div(class="catch-div")
        button(id = "catch" class="catch-btn btn btn-info") Catch your opponent!
    br
    .row-centered.row
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h1(id = "player1_score") 0
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h2.challenge Scores
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h1(id = "player2_score") 0
    br
    .row-centered.row
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h2.player1 Player 1
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h2.challenge Challenges
        .col-xs-4.col-centered
            .challengedisplay
                .item
                    span
                        h2.player2 Player 2
    - for (var i = 1; i < 4; i++){
        .col-xs-4.col-centered
            .player1.challengeBox
                .item
                    div(id='player1-box'+i)
                        span.writing.player1(id='player1-w'+i class = 'textBox_player1' contenteditable='true')
        .col-xs-4.col-centered
            .challenge.challengeBox
                .item
                    div(id='challenge-'+i)
        .col-xs-4.col-centered
            .player2.challengeBox
                .item
                    div(id='player2-box'+i)
                        span.writing.player2(id='player2-w'+i class = 'textBox_player2' contenteditable='true')
    - }
